@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/* main variables for css */

:root {
  --red: #da5767;
  --hoverRed: #df8c96;
  --white: #ffffff;
  --black: #1D1D1D;
  --favoriteGold: #FFDC00;
  --favoriteGoldHover: #ffeb6a;
  --adsLogoColorHover: #D5D5D5;
  --darkGrey: #494949;
  --unblockColor: #3D9970;
  --unblockColorHover: #5ac092;
  --modalsBorderColor: #f8f9fa;
  --modalsOverlayColor: rgba(82, 87, 90, 0.5);
  --headerFontStyle: 'Lobster', cursive;
  --textFontStyle: 'Poppins', sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* all the global css styling */

body{
  width: 100vw;
  background: url("./images/446984.jpg") top right no-repeat;
  background-attachment: fixed;
  background-size: 112%;
}

h2{
  padding-top: 1.5rem;
}

th {
  font-size: 20px;
}

header {
  height: 60px;
  width: 100%;
}

p, button, h2 {
  font-family: 'Poppins', sans-serif;
}

/* global form css styling */

.card{
  border: 0.40rem solid var(--white);
}
.form-control{
  background-color: var(--white);
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-select {
  padding: 10px;
}

.form-control:focus {
  color: #000000;
  background-color: var(--white);
  border: 3px solid var(--red);
  outline: 0;
  box-shadow: none;
}
.btn{
  padding: 0.6rem 1.2rem;
  background: var(--red);
  border: 2px solid var(--red);
}
.btn-primary:hover {
  background-color: var(--hoverRed);
  border-color: var(--hoverRed);
  transition: .3s;
}

.text-center {
  text-align: center;
}

/* styling header */

.userHello {
  position: absolute;
  top: 10px;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.logoutBtnContainer {
  height: 50px;
}

.logoutBtn {
  float: right;
  margin: 15px;
  color: var(--red);
  font-size: 30px;
  animation: bounce 2s ease-in-out infinite;
  
}

.logoutBtn:hover {
  cursor: pointer;
  color: var(--hoverRed);
  transition: .3s;
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* main body container styling */

.main-container {
  width: 100%;
}

/* Ads cards styling */

.ads-reg-form {
  margin: 0 !important;
}

.deleteUserBtn {
  padding: 5px;
}

.delCategoryBtn {
  padding: 5px;
}

.deleteUserBtn:hover {
  cursor: pointer;
}

.banUserBtn {
  color: var(--red);
  text-align: center;
  font-size: 20px;
}

.banUserBtn:hover {
  cursor: pointer;
  color:var(--hoverRed);
  transition: .3s;
}

.delCategoryBtn:hover {
  cursor: pointer;
}

.userDeleteIcon {
  text-align: center;
}


.enterCategoryBtn {
  margin-left: 4px;
}


img {
  /* object-fit: cover; */
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.adsContainer {
  gap: 10px;
  margin: 20px;
}

.price {
  float: right;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
  padding: 5px;
}

.photo-title {
  font-weight: 900;
}

.adsDelI {
  color: var(--white);
  font-size: 30px;
  z-index: 500;
  padding: 6.5px;
  display: none;
}

.fa-square-minus:hover {
  cursor: pointer;
  color: var(--adsLogoColorHover);
  transition: .3s;
}

.favoriteBtn {
  color: var(--favoriteGold);
  font-size: 30px;
  z-index: 500;
}

.favoriteBtn:hover {
  cursor: pointer;
  color: var(--favoriteGoldHover);
  transition: .3s;
}

/* ads container photo tags i delete and
update and make display none,
so that it would not show at first and it would show only those
ads that have class deleteAdsBtn or updateAdsBtn */

.adsUpdateI {
  color: var(--white);
  font-size: 30px;
  padding: 6.5px;
  z-index: 500;
  padding: 5px;
  display: none;
}

.fa-square-pen:hover {
  cursor: pointer;
  color: var(--adsLogoColorHover);
  transition: .3s;
}

.deleteAdsBtn, .updateAdsBtn  {
  display: block;
}

.commentBtn {
  color: var(--white);
  font-size: 30px;
  padding: 6.5px;
  z-index: 500;
  padding: 5px;
}

.commentBtn:hover {
  cursor: pointer;
  color: var(--adsLogoColorHover);
  transition: .3s;
}

.fa-solid-container {
  background-color: var(--darkGrey);
  width: 38px;
  position: absolute;
  top:1px;
  right: 1px;
  border-radius: 0 0 0 5px
}

.favorite-logo-container {
  background-color: var(--darkGrey);
  width: 35px;
  position: absolute;
  top:1px;
  left: 1px;
  border-radius: 0 0 5px 0;
}

/* STYLING TABLES */

.category-table, .user-table {
  background: var(--white);
}

.user-table {
  width: 100%;
}

.adsTableContainer {
  margin-top: 50px;
}

th p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}


/* Deletes the margins in the registration form so that the registration form can fit 100vw */
/* ADS REGISTRATION FORM */

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mainAdsFormContainer:nth-child(1) {
  margin-left: 0 !important;
}

#nextuploadAdsBtn {
  display: none;
}

/* OPEN/CLOSE COMMENT MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modalsOverlayColor);
  display: grid;
  place-items: center; 
  visibility: hidden;
  z-index: -10;
}
.open-modal {
  visibility: visible;
  z-index: 999;
}
.modal-container {
  background: var(--white);
  border: 0.40rem solid var(--modalsBorderColor);
  width: 90vw;
  height: 70vh;
  max-width: 620px;;
  border-radius: 5px;
  overflow-y: scroll;
}
.close-btn {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--red);
  cursor: pointer;
  z-index: 500;
}
.close-btn:hover {
  color: var(--hoverRed);
  transform: scale(1.3);
}

.modal-th-num {
  width: 5%;
}
.modal-th-user-email {
  width: 20%;
}
.modal-th-user-comment {
  width: 65%;
}
.modal-th-user-del-logo {
  width: 10%;
}

#commentBtn {
  float: right;
  margin-right: 2px;
  padding: 5px;
}

#commentInput {
  margin-top: 40px;
  padding: 10px;
}


#commentBtn {
  margin-bottom: 20px;
}

.commentDelBtn {
  color: var(--red);
}

.commentDelBtn:hover {
  cursor: pointer;
}

/* UNIVESAL MODAL */

.universal-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modalsOverlayColor);
  display: grid;
  place-items: center; 
  visibility: hidden;
  z-index: -10;
}

.open-universal-modal {
  visibility: visible;
  z-index: 999;
}
.universal-modal-container {
  background: var(--white);
  border: 0.40rem solid var(--modalsBorderColor);
  width: 30vw;
  height: 20vh;
  max-width: 620px;;
  border-radius: 5px;
}
.universal-module-div {
  width: 100%;
  height: 70%;
}

.universal-module-div p {
  font-size: 20px;
  text-align: center;
}

.close-btn-modal {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--red);
  cursor: pointer;
  z-index: 500;
}
.close-btn-modal:hover {
  color: var(--hoverRed);
  transform: scale(1.3);
}


/* filter btns */

.filter-btn-container {
  gap: 10px;
}

#searchInput, #search-name {
  margin: 0;
  height: 30px;
  padding: 23px;
  margin-right: 3px;
}

/* CAROUSEL STYLING */

.carousel-img {
  height: 400px;
  filter: brightness(.3);
}

.firstEntryBtn {
  margin-top: 30px;
}

.advertismentName {
  display: none;
}


/* USER BLOCK TABLE STYLING */

.userBlockBtn {
  padding: 5px;
}

.userUnblockBtn {
  padding: 5px;
  background: var(--unblockColor);
  border: 2px solid var(--unblockColor);
}

.userUnblockBtn:hover {
  background: var(--unblockColorHover);
  border: 2px solid  var(--unblockColorHover);
}


/* changes the scrollbar to look more aesthetic */

::-webkit-scrollbar {
  width: 13px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--darkGrey);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 0;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1450px) {
  body {
    background: url("./images/446984.jpg") no repeat;
    background-size: 350%;
  }
}
@media screen and (max-width: 768px) {
  .reg-form {
    margin-top: 10px;
  }
  .advertismentName {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  
}

@media screen and (max-width: 565px) {
  .user-date{
    display: none;
  }
  #search-name {
    padding: 0;
    padding-left: 5px;
    font-size: 12px;
  }
  .enterCategoryBtn {
    padding: 5px;
  }
  .user-email {
    display: none;
  }
  .universal-modal-container {
    width: 60vw;
    height: 50vh;
  }
}

@media screen and (max-width: 400px) {
  .user-role{
    display: none;
  }
}
