@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  
  width: 100%;
  background: url("./images/446984.jpg") top right no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  
  font-family: 'PT Sans', sans-serif;
  
  
}
h2{
  padding-top: 1.5rem;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}

.card{
  border: 0.40rem solid #f8f9fa;
  /* top: 10%; */
}
.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-select {
  padding: 10px;
}
/* .main-container {
  height: 100%;
}
.mainLoginFormContainer {
  width: 100%;
  height: 100%;
} */

.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #da5767;
  outline: 0;
  box-shadow: none;
}

.btn{
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.btn-primary:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: .3s;
}

.logoutBtnContainer {
  /* background-color: #333; */
  height: 50px;
}

.logoutBtn {
  float: right;
  margin: 15px;
  color: #da5767;
  font-size: 30px;
  animation: bounce 2s ease-in-out infinite;
  
}

.logoutBtn:hover {
  cursor: pointer;
  color:#df8c96;
  transition: .3s;
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.deleteUserBtn, .delCategoryBtn {
  color: #da5767;
  text-align: center;
}
.deleteUserBtn:hover {
  cursor: pointer;
}
.delCategoryBtn:hover {
  cursor: pointer;
}

.userDeleteIcon {
  text-align: center;
}


.enterCategoryBtn {
  float: right;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.category-table, .user-table {
  background: #fff;
  /* border-radius: 15px; */
}
/* .mainAdsFormContainer {
  margin-bottom: 60px;
} */

.adsTableContainer {
  margin-top: 50px;
}



img {
  /* object-fit: cover; */
  height: 250px;
  width: 250px;
}

/* .bandynas {
  width: 250px !important;
} */


.adsContainer {
  gap: 10px;
  margin: 20px;
}

/* .photo-card {
  width: 100px;
} */

.price {
  float: right;
  background-color: #da5767;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.photo-title {
  font-weight: 900;
}





























input::file-selector-button {
    background: #da5767;
    border: 2px solid #da5767;
    border-radius: 8px;
    color: #fff;
    padding: 0.6rem 1.2rem;
    
}
  input::file-selector-button:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: .3s;
  cursor: pointer;
}


